doctype 5
html(lang="en")
  head
    title Hello
    != css('app')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="#") Hello

        .collapse.navbar-collapse
          .nav.navbar-nav
            li.active
              a(href='#') Home
            li
              a(href='#about') About
            li
              a(href='#contact') Contact
    .app-main
      .container
        h1 Hello
        p A sample app
    .javascripts
      != js('app')
